<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lostkingdom.demo.mapper.AuthUserMapper">

    <resultMap id="users" type="com.lostkingdom.demo.entity.AuthUser">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="create_timestamp" property="createTimestamp" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="BIGINT"/>
        <result column="create_username" property="createUsername" jdbcType="VARCHAR"/>
        <result column="update_timestamp" property="updateTimestamp" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="BIGINT"/>
        <result column="update_username" property="updateUsername" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>


        <collection property="userRoles" resultMap="userRoles"/>
    </resultMap>

    <resultMap id="userRoles" type="com.lostkingdom.demo.entity.AuthRole">
        <id column="role_id" property="id" jdbcType="BIGINT"/>
        <result column="role_name" property="name" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="create_timestamp" property="createTimestamp" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectUser" resultMap="users" parameterType="java.lang.String">
        SELECT t1.*,t2.name role_name,t2.status,t2.create_timestamp,t2.description,t2.id role_id FROM auth_user t1
        left join auth_user_role mid on t1.id = mid.user_id
        left join auth_role t2 on t2.id=mid.role_id
        where t1.username = #{username}
    </select>

    <select id="selectById" resultMap="users" parameterType="java.lang.Long">
        SELECT t1.*,t2.name role_name,t2.status,t2.create_timestamp,t2.description,t2.id role_id FROM auth_user t1
        left join auth_user_role mid on t1.id = mid.user_id
        left join auth_role t2 on t2.id=mid.role_id
        where t1.id = #{id}
    </select>
    
    <select id="getAllAuthUser" resultType="com.lostkingdom.demo.entity.AuthUser">
        SELECT * FROM auth_user
    </select>

    <select id="getPagedAuthUser" resultType="com.lostkingdom.demo.entity.AuthUser" parameterType="com.lostkingdom.demo.vo.reqVo.UserAdminReqVo">
        SELECT * FROM auth_user
        <where>
            <if test="name != null and name != ''">
                and name like "%"#{name}"%"
            </if>
            <if test="username != null and username != ''">
                and username = username
            </if>
            <if test="startTime != null and startTime != ''">
                and create_timestamp &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and create_timestamp &lt;= #{endTime}
            </if>
            <if test="phone != null and phone != ''">
                and create_timestamp &lt;= #{endTime}
            </if>
        </where>
    </select>

    <select id="getAllAuthUserById" parameterType="java.lang.Long" resultType="com.lostkingdom.demo.entity.AuthUser">
        SELECT * FROM auth_user where id = #{id}
    </select>

    <select id="getAllAuthUserByUsername" parameterType="java.lang.String" resultType="com.lostkingdom.demo.entity.AuthUser">
        SELECT * FROM auth_user where username = #{username}
    </select>

    <update id="updateById" parameterType="com.lostkingdom.demo.entity.AuthUser">
        update auth_user set name = #{name},phone = #{phone},status = #{status},update_by = #{updateBy},update_username = #{updateUsername},update_timestamp = #{updateTimestamp} where id = #{id}
    </update>


</mapper>